<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="layout/base::html(${tag.name}, ~{::resources}, ~{::content}, 'tag-template')">
<head>
    <th:block th:fragment="resources" th:if="${posts.hasNext()}">
        <link rel="next" th:href="@{${#strings.concat('/', options['tags_prefix'] ?: 'tags',
        '/', tag.slug, '/page/', posts.nextOrLastPageable().pageNumber + 1)}}">
    </th:block>
</head>

<body>
<th:block th:fragment="content">

<section class="outer">
    <div class="inner posts">
        <div class="post-feed">
            <section class="post-card post-card-large">
                <div th:unless="${#strings.isEmpty(tag.thumbnail)}" class="post-card-image-link">
                    <img class="post-card-image" th:src="${tag.thumbnail}" />
                </div>

                <div class="post-card-content">
                    <div class="post-card-content-link">
                        <header class="post-card-header">
                            <div class="post-card-primary-tag">Tagged</div>
                            <h2 class="post-card-title" th:text="${tag.name}">Tag name</h2>
                        </header>
                        <div class="post-card-excerpt">
                            <p>
                                A collection of [[${posts.totalElements}]] posts.
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <th:block th:each="post, stat : ${posts.content}">
                <th:block th:replace="~{fragment/post-card :: post (${post}, false) }" />
            </th:block>
        </div>
    </div>
</section>
</th:block>

</body>
</html>