<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<body>
<!-- /*
This is a responsive image, it loads different sizes depending on device
https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433
https://stackoverflow.com/questions/44662338/how-to-build-srcset-attribute-with-thymeleaf
https://www.jpegsmaller.com/
*/-->
<img th:class="${cssClass}" th:fragment="img (url, cssClass, sizes)"
     th:src="@{${url}}"
     th:with="idx=${url.lastIndexOf('.')},
        _prefix=${idx==-1 ? url : #strings.substring(url, 0, idx)},
        _ext=${idx==-1 ? '' : #strings.substring(url, idx)}"
     th:attr="srcset=|
     @{${_prefix+'-s'+_ext}} 320w,
     @{${_prefix+'-m'+_ext}} 640w,
     @{${_prefix+'-x'+_ext}} 1000w,
     @{${_prefix+'-xl'+_ext}} 2000w |"
     th:sizes="${sizes ?: '100vw'}"
     sizes="100vw"
/>
</body>
</html>